In [10]:
import pandas as pd

sleep_data = pd.read_csv('/content/sample_data/TimeAmericansSpendSleeping.csv')

print(sleep_data.head())

   index  Year  Period  Avg hrs per day sleeping  Standard Error Type of Days  \
0      0  2003  Annual                      8.57           0.018     All days
1      1  2004  Annual                      8.55           0.026     All days
2      2  2005  Annual                      8.62           0.023     All days
3      3  2006  Annual                      8.63           0.024     All days
4      4  2007  Annual                      8.57           0.024     All days

           Age Group  Activity   Sex
0  15 years and over  Sleeping  Both
1  15 years and over  Sleeping  Both
2  15 years and over  Sleeping  Both
3  15 years and over  Sleeping  Both
4  15 years and over  Sleeping  Both

In [11]:
print(sleep_data.info())

print(sleep_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     945 non-null    int64
 1   Year                      945 non-null    int64
 2   Period                    945 non-null    object
 3   Avg hrs per day sleeping  945 non-null    float64
 4   Standard Error            945 non-null    float64
 5   Type of Days              945 non-null    object
 6   Age Group                 945 non-null    object
 7   Activity                  945 non-null    object
 8   Sex                       945 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 66.6+ KB
None
            index         Year  Avg hrs per day sleeping  Standard Error
count  945.000000   945.000000                945.000000      945.000000
mean   472.000000  2010.000000                  8.806868        0.086958
std    272.942302     4.322782                  0.545001        0.034631
min      0.000000  2003.000000                  7.720000        0.018000
25%    236.000000  2006.000000                  8.360000        0.063000
50%    472.000000  2010.000000                  8.810000        0.084000
75%    708.000000  2014.000000                  9.190000        0.106000
max    944.000000  2017.000000                 10.650000        0.228000

In [12]:
sleep_data = pd.read_csv('/content/sample_data/MentalhealthDepressiondisorderData.csv')

print(sleep_data.head())

   index       Entity Code  Year Schizophrenia (%) Bipolar disorder (%)  \
0      0  Afghanistan  AFG  1990           0.16056             0.697779
1      1  Afghanistan  AFG  1991          0.160312             0.697961
2      2  Afghanistan  AFG  1992          0.160135             0.698107
3      3  Afghanistan  AFG  1993          0.160037             0.698257
4      4  Afghanistan  AFG  1994          0.160022             0.698469

  Eating disorders (%)  Anxiety disorders (%)  Drug use disorders (%)  \
0             0.101855               4.828830                1.677082
1             0.099313               4.829740                1.684746
2             0.096692               4.831108                1.694334
3             0.094336               4.830864                1.705320
4             0.092439               4.829423                1.716069

   Depression (%)  Alcohol use disorders (%)
0        4.071831                   0.672404
1        4.079531                   0.671768
2        4.088358                   0.670644
3        4.096190                   0.669738
4        4.099582                   0.669260

<ipython-input-12-1fe0ae82063c>:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  sleep_data = pd.read_csv('/content/sample_data/MentalhealthDepressiondisorderData.csv')

In [13]:

print(sleep_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      108553 non-null  int64
 1   Entity                     108553 non-null  object
 2   Code                       103141 non-null  object
 3   Year                       108553 non-null  object
 4   Schizophrenia (%)          25875 non-null   object
 5   Bipolar disorder (%)       19406 non-null   object
 6   Eating disorders (%)       100236 non-null  object
 7   Anxiety disorders (%)      6468 non-null    float64
 8   Drug use disorders (%)     6468 non-null    float64
 9   Depression (%)             6468 non-null    float64
 10  Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.1+ MB
None

In [14]:
print(sleep_data.describe())

               index  Anxiety disorders (%)  Drug use disorders (%)  \
count  108553.000000            6468.000000             6468.000000
mean    54276.000000               3.989921                0.862278
std     31336.696223               1.167526                0.460679
min         0.000000               2.023393                0.383650
25%     27138.000000               3.188824                0.535064
50%     54276.000000               3.554373                0.726430
75%     81414.000000               4.682163                0.940157
max    108552.000000               8.967330                3.452476

       Depression (%)  Alcohol use disorders (%)
count     6468.000000                6468.000000
mean         3.497654                   1.585821
std          0.655859                   0.860283
min          2.139903                   0.446940
25%          3.005529                   0.993685
50%          3.499606                   1.479936
75%          3.912381                   1.867834
max          6.602754                   5.474668

In [15]:
sleep_data = pd.read_csv('/content/sample_data/clean_dataset.csv')
print(sleep_data.head())

   Gender    Age   Debt  Married  BankCustomer     Industry Ethnicity  \
0       1  30.83  0.000        1             1  Industrials     White
1       0  58.67  4.460        1             1    Materials     Black
2       0  24.50  0.500        1             1    Materials     Black
3       1  27.83  1.540        1             1  Industrials     White
4       1  20.17  5.625        1             1  Industrials     White

   YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
0           1.25             1         1            1               0
1           3.04             1         1            6               0
2           1.50             1         0            0               0
3           3.75             1         1            5               1
4           1.71             1         0            0               0

        Citizen  ZipCode  Income  Approved
0       ByBirth      202       0         1
1       ByBirth       43     560         1
2       ByBirth      280     824         1
3       ByBirth      100       3         1
4  ByOtherMeans      120       0         1

In [16]:
print(sleep_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB
None

In [17]:
print(sleep_data.describe())

           Gender         Age        Debt     Married  BankCustomer  \
count  690.000000  690.000000  690.000000  690.000000    690.000000
mean     0.695652   31.514116    4.758725    0.760870      0.763768
std      0.460464   11.860245    4.978163    0.426862      0.425074
min      0.000000   13.750000    0.000000    0.000000      0.000000
25%      0.000000   22.670000    1.000000    1.000000      1.000000
50%      1.000000   28.460000    2.750000    1.000000      1.000000
75%      1.000000   37.707500    7.207500    1.000000      1.000000
max      1.000000   80.250000   28.000000    1.000000      1.000000

       YearsEmployed  PriorDefault    Employed  CreditScore  DriversLicense  \
count     690.000000    690.000000  690.000000    690.00000      690.000000
mean        2.223406      0.523188    0.427536      2.40000        0.457971
std         3.346513      0.499824    0.495080      4.86294        0.498592
min         0.000000      0.000000    0.000000      0.00000        0.000000
25%         0.165000      0.000000    0.000000      0.00000        0.000000
50%         1.000000      1.000000    0.000000      0.00000        0.000000
75%         2.625000      1.000000    1.000000      3.00000        1.000000
max        28.500000      1.000000    1.000000     67.00000        1.000000

           ZipCode         Income    Approved
count   690.000000     690.000000  690.000000
mean    180.547826    1017.385507    0.444928
std     173.970323    5210.102598    0.497318
min       0.000000       0.000000    0.000000
25%      60.000000       0.000000    0.000000
50%     160.000000       5.000000    0.000000
75%     272.000000     395.500000    1.000000
max    2000.000000  100000.000000    1.000000